[submodule "ggpo"]
	path = ggpo
	url = https://github.com/pond3r/ggpo
	branch = master
[submodule "DALIL_DILER_GACON_ML_5A"]
	path = DALIL_DILER_GACON_ML_5A
	url = https://github.com/samidalil/DALIL_DILER_GACON_ML_5A
    branch = main